{{outlet}}

<section class="hero is-info is-fullheight is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">

      <h2 class="title">HELLO I AM HOME</h2>

    </div>
  </div>
</section>